@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    nav {
        display: none !important;
    }

    html {
        background-color: #fff;
    }

    .quizMenu {
        background-image: url("/images/Home/QuizStartMenu.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 88vh;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
    }

    .quizMenu button {
        background-color: var(--main-blue);
        padding: 14px;
        width: 150px;
        margin-bottom: 43px;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div class="quizMenu">

    <button>Start</button>
</div>