@{
    ViewData["Title"] = "Admin HomePage";
}

<h2>Welcome to Admin HomePage</h2>

<a href="/Unit/Create" class="btn btn-primary">Add Unit</a>
<a href="/Lesson/Create" class="btn btn-primary">Add Lesson</a>
<a href="/Word/Create" class="btn btn-primary">Add Word</a>
