
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .situations {
        background-image: url("/images/Home/sit.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 85vh;
        width: 100%;
    }
</style>

<div class="unit">
    <aside>
        <div>
            <h3><a asp-action="Index" asp-controller="Unit">Learn</a></h3>
            <h3><a asp-action="Index" asp-controller="Conversation">Conversations</a></h3>
            <h3><a asp-action="Index" asp-controller="">Situations</a></h3>
            <h3><a asp-action="Index" asp-controller="">Pracitce</a></h3>
            <h3><a asp-action="Dashboard" asp-controller="Student">Dashboard</a></h3>
        </div>
    </aside>

    <div class="container situations">
        <!--Situaions-->
    </div>
</div>

