@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}
<header class="header">

    <div class="container">
        <div class="header-text">
            <h5>Join Us</h5>
            <h1>Learn English With Duckie</h1>
            <h4>Duckie is an AI-Powered English Learning platform created to make English Learning easy and fast</h4>
        </div>

        <a>
           Learn More
        </a>

    </div>
</header>

<section class="home-sec1">
    <div class="text">
        <h6>Practice Advice</h6>
        <h2>Make online education accessible</h2>
        <p>Duckie have mulitplie reasons why it should be your first choice in learning English</p>
    </div>
    <div class="cards">
        <div>
            <img src="~/images/Home/coolicon.png" />
            <h5>Evaluation Time</h5>
            <hr />
            <p>
                The gradual
                accumulation of
                information about
            </p>
        </div>

        <div>
            <img src="~/images/Home/trueIcon.png" />
            <h5>Evaluation Time</h5>
            <hr />
            <p>
                The gradual
                accumulation of
                information about
            </p>
        </div>

        <div>
            <img src="~/images/Home/cardIcon.png" />
            <h5>Evaluation Time</h5>
            <hr />
            <p>
                The gradual
                accumulation of
                information about
            </p>
        </div>

        <div>
            <img src="~/images/Home/barsIcon.png" />
            <h5>Evaluation Time</h5>
            <hr />
            <p>
                The gradual
                accumulation of
                information about
            </p>
        </div>
    </div>
</section>


<section class="home-sec2">

    <img src="~/images/Home/video.png" />

    <div>
        <hr />
        <h2>Featured Products</h2>
        <p>
            Problems trying to resolve the conflict between
            the two major realms of Classical physics:
            Newtonian mechanics
        </p>
        <a>Learn More</a>
    </div>

</section>

<section class="home-sec3">

    <div>
        <hr />
        <h2>Featured Products</h2>
        <p>
            Problems trying to resolve the conflict between
            the two major realms of Classical physics:
            Newtonian mechanics
        </p>
        <a>Learn More</a>
    </div>

    <img src="~/images/Home/video.png" />


</section>

<section class="home-sec4">

    <img src="~/images/Home/video.png" />

    <div>
        <hr />
        <h2>Featured Products</h2>
        <p>
            Problems trying to resolve the conflict between
            the two major realms of Classical physics:
            Newtonian mechanics
        </p>
        <a>Learn More</a>
    </div>

</section>


<section class="home-sec5">
    <video src="~/images/Home/snake.mp4"></video>
</section>
<footer class="home-foot container">
    <ul>
        <li><h3>Get In Touch</h3></li>
        <p>Feel free to connact us</p>
        <div>
            <img src="~/images/Home/facebook.png" alt="facebook" />
            <img src="~/images/Home/instagram.png" alt="insta" />
            <img src="~/images/Home/twitter-sign.png" alt="twitter" />
        </div>
    </ul>

    <ul>
        <li><h3>Get In Touch</h3></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
</footer>  